.d-flex {
  display: flex !important;
}
.border-1vw {
  border: #f1e767 1vw solid;
}
.mx-auto {
  margin: 0 auto !important;
}
.m-2vw {
  margin: 2vw !important;
}
.p-2vw {
  padding: 2vw !important;
}
.px-2vw {
  padding: 0 2vw !important;
}
.py-1vw {
  padding: 1vw 0 !important;
}
.btn-radius-solid {
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e767), to(#feb645));
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
}

.btn-radius-solid:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#f1e767), to(#feb645));
  background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to top, #f1e767 0%, #feb645 100%);
}